
a{
    text-decoration: none;
    /* color: whitesmoke; */
}

a:hover{
    color: rgb(104, 101, 101);
}


.message-success{
    background-color: #93e096 !important;
    color: white !important;
    list-style: none !important;
    padding: 10px !important;
}

.message-error{
    background-color: #e09393 !important;
    color: white !important;
    list-style: none !important;
    padding: 10px !important;
}
