{% extends 'layouts/base.html' %}

{% block content %}
<section >

    <button class="btn btn-dark mb-2"><a href="{% url 'create-user' %}" class="text-decoration-none text-white">Create User</a></button>
    <div class="table-responsive rounded-3 shadow-sm h-75">
        <table class="table  m-0">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="col" ></th>
                    <th scope="col" >Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                
                {% for user in instance %}
                <tr>
                    <td></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email}}</td>
                    <td>{{user.telefono}}</td>
                    <td class="d-flex justify-content-center gap-2">
                        <button class="btn btn-success"><a href="{% url 'update-user' user.id %}" class="text-decoration-none text-white">Update </a></button>
                        <button class="btn btn-danger"><a href="{% url 'delete-user' user.id %}" class="text-decoration-none text-white">Delete</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'layouts/paginator.html' %}
</section>

{% endblock %}